<section style="background-color: #282c34" class="main-text">
  <p class="main-text">main start!</p>
  <!-- <app-card></app-card> -->
  <!-- <app-angular-events></app-angular-events> -->
  <!-- <app-angular-forms></app-angular-forms> -->
  <!-- <app-child
    [parentData]="data"
    [parentArray]="userDetails"
    (childComponentEvent)="getEventFromChildComponent($event)"
    (getEventFromChildComponentWithoutFunc)="
      getEventFromChildComponentWithoutFunc($event)
    "
  ></app-child
  ><br /> -->
  <!-- <p class="main-text">
    Data received from child component using function: {{ childComponentData }}
  </p> -->
  <!-- <p class="main-text">
    Data received from child component without using function:
    {{ childComponentData2 }}
  </p>
  <button (click)="generateValue()">Generate data for child component</button
  ><br /> -->
  <app-angular-pipes></app-angular-pipes>
  <p class="main-text">main end!</p>
</section>
