<form #testForm="ngForm" (ngSubmit)="submitForm(testForm.value)">
  <input
    type="input"
    name="username"
    #usernameModel="ngModel"
    placeholder="Enter username"
    ngModel
    required
  />
  <br />
  <span
    class="warningText"
    *ngIf="usernameModel.invalid && usernameModel.touched"
    >Please enter a valid username!!!</span
  >
  <br />
  <input
    type="email"
    name="email"
    placeholder="Enter email"
    ngModel
    #emailModel="ngModel"
    required
  />
  <br />
  <span class="warningText" *ngIf="emailModel.invalid && emailModel.touched"
    >Please enter a valid email!!!</span
  >
  <br />

  <button [disabled]="testForm.invalid">Submit</button>
</form>

<!-- <button (click)="submitForm(testForm.value)">Outside Form</button> -->
