<h2 class="main-text">child works!</h2>
<p class="main-text">Data receive from parent component: {{ parentData }}</p>
<p class="main-text">Second data receive from parent component:</p>
<ul class="main-text" *ngFor="let item of parentArray">
  <li>{{ item.name }}</li>
  <li>{{ item.email }}</li>
</ul>

<input type="text" #inputEvent />
<button (click)="childComponentEvent.emit(inputEvent.value)">
  Send data to Parent</button
><br /><br />

<input type="text" #inputEvent2 />
<button (click)="emitFunction(inputEvent2.value)">Send data to Parent</button>
